
*.dat
*.qmsg
*.cdb
*.hdb
*.rdb
*.bpm
*.idb
*.kpt
*.logdb
*.ddb
*.hif
*.ipinfo
*.txt
*.ammdb
*.flock
*.rvd
*.sci
*.syn_hier_info
*.ini
semaforo/simulation/modelsim/rtl_work/_vmake
semaforo/simulation/modelsim/wlftwzjqig
semaforo/simulation/modelsim/wlftta560y
semaforo/simulation/modelsim/wlftg70bi3
semaforo/simulation/modelsim/wlft6zwc2s
semaforo/simulation/modelsim/wlftb8567k
semaforo/simulation/modelsim/wlfti6779b
semaforo/simulation/modelsim/wlftrfti47
semaforo/simulation/modelsim/wlftv9sf2a
semaforo/simulation/modelsim/wlft5kja1f
semaforo/simulation/modelsim/wlftktm343
semaforo/simulation/modelsim/wlft2s49k7
*.sdo
*.bak6
*.bak7
*.bak4
*.bak10
*.bak11
*.bak2
*.bak
*.bak1
*.bak3
*.bak5
*.bak8
*.bak9
*.vstf
*.prw
*.dbs
*.psm
semaforo/simulation/modelsim/msim_transcript
semaforo/simulation/modelsim/rtl_work/_info
*.sft
*.vho
*.rpt
*.summary
*.done
*.smsg
*.xml
*.db_info
*.hier_info
*.tdb
*.tmw_info
*.html
*.dfp
*.dpi
*.hb_info
semaforo/incremental_db/README
*.jdi
*.do
*.wlf
*.qdf
*.xrf
*.rcfdb
*.cdf
*.pin
*.sig
*.pof
*.sof
